header {
    width: 100%;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    border: 1px solid #E2E2E2;
    position: relative;

    & a {
        font-size: 24px;
        color: #FFFFFF;
    }

    & .user {
        display: flex;
        align-items: center;
        column-gap: 10px;
        cursor: pointer;
        border: 1px solid #E2E2E2;
        padding: 0 20px 0 15px;
        border-radius: 10px;

        & .user_icon {
            background: #FFFFFF;
            width: fit-content;
            width: 40px;
            height: 40px;
            display: grid;
            place-content: center;
            border-radius: 50%;
        }

        & span {
            color: #3E3E3E;
            font-size: 20px;
            font-weight: 600;
        }
    }
}